@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1e3a5f transparent;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1e3a5f;
  border-radius: 4px;
}
